@import url('https://fonts.googleapis.com/css2?family=Yrsa:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');
 
/* general */

body {
	font-family: 'Short Stack';
	font-size: 2.4vh;
    line-height: 1.5;
}

h2 {
    color:#2A1E5C;
    line-height: 1.15;
    margin-top: 2%;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    padding-left: 20pt;
    font-family: 'Yrsa';
    
}

p {
    text-justify: auto;
    text-align: justify;
    padding-left: 50pt;
    padding-right: 50pt;
    font-family: 'Short Stack';
}

/* header */

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
    width: 100%;
    height:auto;
}


	
/* Hero */

.hero {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
	background: url(https://images.unsplash.com/photo-1576086213369-97a306d36557?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY3Njk5ODk1NQ&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080) center center no-repeat;
	background-size: cover;
    font-family: 'Yrsa';
    color: white;
    
}

.hero-title {
	margin: 0;
    font-size: 72pt;
	font-weight: bold;
	line-height: .9;
    padding: 1%;
    text-align: center;
}
	

.hero-footer {
	display: flex;
	margin-bottom: .3em;
}

.button {
	padding: .3em .3em;
	color: white;
	text-decoration: none;
	border: .1em solid white;

}
	
.button-primary {
		color: #2A1E5C;
		background-color: white;
}
	
.button_b {
    color: #2A1E5C;
    background-color: white;
}
.button_c {
		color: #2A1E5C;
		background-color: white;
}
.button:hover {
    background-color: #EE4266;
    color: white;
    text-decoration: none;  
}
/* article */

.all-browsers {
	margin-left: .5%;
	width: 90%;
    max-width: 100ch;
}

.all-browsers_a {
    margin: 0 auto;
	width: 90%;
    max-width: 90ch;
    text-align: center;
}

#all-browsers-c {
    margin: 0 auto;
    width: 90%;
    max-width: 90ch;
    text-align: center;
    margin-top: 3%;
}



h3 {
    margin: 0 auto;
    padding: 0;
	width: 90%;
    max-width: 90ch;    
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

h4 {
    margin-top: 5%;
	width: 90%;
    max-width: 90ch;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
    font-weight: normal;
}

/* Home Page */
.youtube_a {
    position: relative;
    height: 0;
    padding-top: 56%;
    margin-bottom: 2%;
    overflow: hidden;
    max-width: 100%;
  }
.youtube_a iframe { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.youtube_b {
    position: relative;
    height: 0;
    padding-top: 56%;
    margin-bottom: 1%;
    overflow: hidden;
    max-width: 100%;
}
.youtube_b iframe { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}  
 
#interesting_img {
    float: left;
    margin-right: 2%;
    margin-top: 3%;
    margin-left: 2%;
    width: auto;
    max-width: 100%;
    
}


/* footer  */
.footer {
    background-color: #EE4266 ;
    color: #2A1E5C;
    text-align: left;
    width: 100%;
    padding: 25px 50px;
    margin-top: 50px;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

footer a {   
    color: #2A1E5C;
    text-decoration: none;
    font-family:'Short Stack',"Helvetica Neue", Arial, Helvetica, sans-serif;;
}

/* Facts Page */

.image_wrapper {
    position: relative;
    width: 100%;
    
}

#f_eoe_a {
    display: block;
    text-align: center;
    margin: auto;
}

#f_boy_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    height: 100%;
    width: auto;
    max-width: 100%;

    
}
    
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #EE4266;
    margin-left: 30%;
    margin-right: 30%;
    transition: all .2s ease-in-out;
    opacity: 0;
    color: white;
    font-size: 4.0vh;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
    height: 85%;
    width: auto;
    max-width: 100%;
     
}

.image_wrapper:hover .overlay {
    opacity: 1;
}

#treatment_img1 { 

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    height: 100%;
    width: auto;
    max-width: 100%;
    
}

.overlay_b {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #EE4266;
    margin-left: 30%;
    margin-right: 30%;
    transition: all .2s ease-in-out;
    opacity: 0;
    color: white;
    font-size: 4.0vh;
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
}

.image_wrapper:hover .overlay_b {
    opacity: 1;
}

#treatment_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    height: 100%;
    width: auto;
    max-width: 100%;
     
}
#f_eoe_b {
    display: block;
    text-align: center;
    margin: auto;
}

/* Helpful Info Page*/

.youtube_c {
    position: relative;
    height: 0;
    padding-top: 56%;
    overflow: hidden;
    max-width: 100%;
    margin-top: 2%;
  }
.youtube_c iframe { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#stats_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 100%;
    width: auto;
    max-width: 100%;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 16px; /* or margin */
}

li::before {
    content: '';
    margin-left: -8px;
    margin-bottom: 0;
}


mark {
    -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
            animation: 1.5s highlight 1.5s 1 normal forwards;
    background: linear-gradient(90deg, #EE4266 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
  }
  
@-webkit-keyframes highlight {
    to {
      background-position: 0 0;
    }
  }
  
@keyframes highlight {
    to {
      background-position: 0 0;

    }
  }



.stats_h, a {
    
    
    text-align: left;
    font-family: 'Short Stack',"Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 3vh;
    line-height: 1.5;
    
}
    

.purple_cow {
    display: block;
    text-align: left;
    margin: auto;
    border: 8px solid #2A1E5C;
    font-family: 'Short Stack',"Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 3vh;
    line-height: 1.5;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    width: auto;
    max-width: 100%;
  
    
    
   
}

#cow {
    display: block;
    margin: 0;
}

.center {
    text-align: center;
}



@media screen and (max-width: 900px) {

   
.hero {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height:max-content;
}

.youtube_video_a {
    margin-right: 0%;
    margin-left: 0%;
  } 

.footer, .hero-footer {
        flex-direction: column;
        display: block;
        max-width: 100%;
        max-height: 100%;
        height:max-content;
} 
.button-primary, .button_b, .button_c {
        display: block;
        padding: 0.8px;
        background-color: hotpink;
}
.hero-title {
        margin-top: 0;
}
.hero-title {
        display: none;
}

h2 {
        font-size: 25px;
        color:#2A1E5C;
}


.all-browsers, .all-browsers_a {
        width: 100%;
        display: block;
        margin: 0 auto;
        text-align: center;
        
           
}

.overlay, .overlay_b {
    display: none;
}


.img {
    
    max-width: 100%;
    max-height: 100%;
    width: 500px;
    object-fit: cover;
    object-position: bottom;

}

.purple_cow {
    justify-content: left;
    max-width: 100%;
    max-height: 100%;
    margin-inline: .5%;
   
    
}


}




/*
@media only screen and (max-width: 480px) {
    img, .footer, .h_logo, .png, .jpg, .social, .com {
        width: 100%;
        height: 90px;
        object-fit: cover;
        object-position: auto;
    }
}  



