:root {
    --primary-color: #F8F0D8;
    --secondary-color1: #08597D;
    --secondary-color2: #3f6929;
    --secondary-color3: black;
    --secondary-color4: #3333; 
    --secondary-color5: white;
    --secondary-color6: #d4edda;
    --secondary-color7: #71cdc2;
    --secondary-color8: #007B70;
    --secondary-color9: #FBE1B0;
    --secondary-color10: #B8DFC4;
    /*Typography*/
    --heading-font: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    --paragraph-font: 'Times New Roman', Times, serif;
}

.dark-mode {
    --primary-color: black;
    --secondary-color1: white;
    --secondary-color2: black;
    --secondary-color3: white;
    --secondary-color4: #3333; 
    --secondary-color5: white;
    --secondary-color6: black;
    --secondary-color7: rgb(19, 17, 14);
    --secondary-color8: rgb(12, 12, 35);
    --secondary-color9: rgb(19, 17, 17);
    --secondary-color10: black;   
    background-image: none;
    background-color: black;
}
/*************** Index Page *****************/

body, h1, h2,h3, p, ul, li {
    margin: 0;
    padding: 0;
    color: var(--secondary-color3);   
}

/* Page container styling */
body {
    font-family: var(--paragraph-font);
    text-align: center;
    line-height: 1.6;
}

/* Header styling */
.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
}

header {
    color: var(--secondary-color3);
    text-align: center;
    padding: 10px 0;  
}

#logo {
    max-height: 4rem;
    height: auto;
    margin: .5rem .5rem;
    border-radius: 8px;   
}

/* Navigation styling */
nav {
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: var(--secondary-color3);
    font-weight: bold;
}

#darkModeButton {
    color: var(--secondary-color3);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: var(--secondary-color9);
    border-radius: 8px;
}
    
#darkModeButton:hover {
    cursor: pointer;
}
  
#darkModeButton {
    display: flex;
    justify-content: flex-end;
    padding-right: .5rem;
    padding-top: .5rem;
}

#menu {
    background-color: var(--secondary-color1);       
}
    
#menu::before { 
    content: "☰";
    background-color: var(--secondary-color1);
    color: var(--secondary-color5);        
}
    
#menu.show::before {     
    content: "✘";     
}
       
.main-nav {  
    text-align: center;
    font-size: 1.3rem;
    padding-left: 0; 
    display: none;       
}
        
.main-nav li {            
    display: inline-block;           
}
    
.main-nav a:hover {            
    background-color: var(--secondary-color4);
}
          
.main-nav a {       
    display: block;
    padding: 10px 20px;
    color: var(--secondary-color3);
    text-decoration: none;
}

.active {
    margin-right: 0; /* Reset margin for the active link */
}

.show li { 
    display: block;
    width: 100%;
}
    
.show li a {
    display: block;
    text-decoration: none;
    padding: 1rem;
}
        
ul.main-nav.show {
    display: block;  
    margin-top: .1%;
    margin-bottom: .2%;
}

/* CTA button styling */
.cta-button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color:var(--secondary-color8);
    color: var(--secondary-color5);
    text-decoration: none;
    border-radius: 30px;  
    margin-top: 2rem;
    font-size: 1.3rem;
}

/* Style for Swiper Container */
.swiper-slide {
    display: none
}
.base-picture {
    display: flex;
}

/*--------- Summary ---------*/
.types-of-rentals {
padding: 1rem;
}
/*------- Weather section styling ------- */
#weather {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    border-radius: 8px; 
    padding: 10px; 
}
.weather-column {
    text-align: center;
    border: 2px solid var(--secondary-color1); 
    border-radius: 8px; 
    padding: 10px; 
    margin: 5px;
}

.label {
    font-weight: bold;
    margin-bottom: 5px;
}

#weather-icon {
    display: block; 
    margin: 0 auto; 
    max-width: 50px;
    margin-top: 10px;
}

#alert-container, .alert {
    background-color: #ffc107;
    padding: 10px;
    text-align: center;
    display: none;
}

#weather-info {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}

/* Next Day Weather */

#next-day-weather {
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    border-radius: 8px; 
    padding: 10px; 
}

.next-day-column {
    text-align: center;
    padding: 10px; 
    margin: 5px;
}

.next-day-label {
    font-weight: bold;
    margin-bottom: 5px;
    
}

#next-day-icon {
    display: block; 
    margin: 10px auto 0; 
    max-width: 50px;
}

#next-day-condition,
#next-day-temperature {
    margin-top: 10px;
}

/* Alert styling */

#alert-box {
    display: none;
    top: .2rem;
    left: 0;
    width: 98.5%;
    padding: .5rem;
    background-color: var(--secondary-color9); 
    color: var(--secondary-color3); 
    text-align: center;
    border: 3px dotted var(--secondary-color8); 
}

#alert-message-box {
    font-size: 18px;
    font-weight: bold;
}

.close-button {
    top: 50%;
    left: 20px;
    font-size: 20px;
    color: var(--secondary-color3);
    background: red;
    border: 1pt solid var(--secondary-color8);
    cursor: pointer;
    font-weight: bold;
}



/*------ Main Body ------*/

.types-of-rentals {
    display: inline-block;
    background-color: var(--primary-color);
    max-width: 800px;
    margin-top: 2rem;
    border-radius: 8px;
}
/*************** Rentals Page ***************/

/* Style for the table */
#rentals-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 2rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Style for the table header */
#rentals-table th {
    background-color: var(--secondary-color8);
    color: var(--secondary-color5);
    border: 2px solid var(--secondary-color8);
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#rentals-table td {
    border: 1px solid var(--secondary-color1);
    
}

/* Style for alternating rows */
#rentals-table tbody tr:nth-child(even) {
    background-color: var(--secondary-color9);
}

#rentals-table tbody tr:hover {
    background-color: var(--secondary-color6); 
}
/*************** Reservation Page*****************/

#rental-agreement ul {
    max-width: 800px;
    text-align: left;
    display: inline-block;
    list-style-type: disc;

}

#rental-agreement ul li {
    margin-bottom: 8px;
}

#reservation-form {
    display: inline-block;
    max-width: 800px;
}
fieldset {
    border-color: var(--secondary-color2);
    line-height: 2.5;
    background-color: var(--primary-color);
    margin-bottom: 2rem;
}

form label.top, form div{
    display: block;
    justify-content: left;
    padding-top: 1rem;
    color: var(--secondary-color3);
    font-size: 1.3rem;
}

/*************** Contact Page*****************/


#contact-info {
    display: flex;
    justify-content: space-evenly;
}

#contact-form {
    display: inline-block;
    max-width: 800px;
}
#comment {
    width: 70%;
}


/*---------- Footer ----------*/

footer {

    padding: 1rem;
    background-color: var(--primary-color);
    padding-bottom: .5em .25em;

}

ul.contact {
    padding: 1em;
    list-style: none;
    margin: 0;
}

ul.contact li{        
    display: inline-block;
    padding: 0em 0.5em;
    font-size: 1em;
}
