@media screen and (min-width: 640px)  {
       
    .main-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
        padding-bottom: .6%;
        background-color: var(--secondary-color8);
}

       
#menu {
    display: none; /* hide hamburger button */
}
.active::before {
    content: ""; 
    display: block; 
    border-bottom: 4px solid var(--secondary-color9); 
    margin-bottom: -2px;  
    }
    
}
body {
    background-image: url("../images/sunny-beach-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#alert-box {
    display: block;
}


/*************** Contact Page*****************/

#contact-info {
    display: flex;
    justify-content: space-around;
}

