
:root {
    /* change the values below to your colors from your palette */
    --primary-color: #285959;
    --secondary-color: #F2B05E;
    --accent1-color: #F2E5D5;
    --accent2-color: #A66B38;
    --accent3-color: #593D2D;
    
  
    /* change the values below to your chosen font(s) 
    --heading-font: "Merriweather", serif;
    --paragraph-font: "Lora", serif;*/
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #285959;  /* headlines on a white background */ 
    --headline-color-on-color: #285959; /* headlines on a colored background */ 
    --paragraph-color-on-white: black; /* paragraph text on a white background */ 
    --paragraph-color-on-color:#285959; /* paragraph text on a colored background */ 
    --paragraph-background-color: #F2E5D5;
    --nav-link-color: white;
    --nav-background-color: #285959;
    --nav-hover-link-color: white;
    --nav-hover-background-color:#F2B05E;
    --clr-gray200: #cfd8dc;

    --radius: 0.4rem;
}

body {
    max-width: 100%;   
    text-align: center;
} 
  


h1, h2, h3, h5, h6 {
    color: var(--headline-color-on-white);
    font-family: "Merriweather",serif;
   
}

hr {
    height: 5px;
    margin: 35px 0;
    background: var(--accent3-color);
}

header {
    background-color: white;
}

header > h1, header > h2 {
    color: var(--headline-color-on-color);
}

h1 {
    font-size: 3em;
    text-shadow: 1.5px 1.5px black;
}

h2 {
    font-size: 2.5em;
    text-shadow: 1.5px 1.5px black;
}

h3 {
    font-size: 2em;
    
}

h4 {
    font-size: 1.5em;
    
}

p {
    color: var(--paragraph-color-on-white);
    padding: 1em;
    font-family: "Lora", serif;
    font-size: 1em;
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
}

.colors th {
    background-color: #999;
}

.colors td{
    width: 15%;
    height: 3em;
}
  
.primary {
    background-color: var(--primary-color);
    
}

.secondary {
    background-color: var(--secondary-color);
}

.accent1 {
    background-color: var(--accent1-color);
}

.accent2{
    background-color: var(--accent2-color);
}
  
.accent3{
    background-color: var(--accent3-color);
}

p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
}


.logo {
    display: none;
    

}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.nav-list {
    background-color: var(--nav-background-color);
    box-shadow: 0px 0px 10px var(--clr-gray200);
    line-height: 3em;
    font-size: 2.0em;
    display: block;
    
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}



.nav-item a {
  text-decoration: none;
  color: white;
  transition: all 200ms ease-in;
}

.nav-item a:hover {
  color: var(--nav-hover-background-color);
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}
.nav-list-b {
    background-color: var(--nav-background-color);
    box-shadow: 0px 0px 10px var(--clr-gray200);
    line-height: 3em;
    font-size: 2.0em;
    display: block;
    
}

.nav-item-b {
  list-style: none;
  margin-right: 2rem;
}



.nav-item-b a {
  text-decoration: none;
  color: white;
  transition: all 200ms ease-in;
}

.nav-item-b a:hover {
  color: var(--nav-hover-background-color);
}

.nav-item-b:first-child {
  margin-right: auto;
  margin-left: 2rem;
}


ul {
      margin: 1em 0 .5em;
      list-style-position: inside;
      font-family: "Lora", serif;
      font-size: 1em;
      align-items: center;   
}
  
li::before {
      display: inline;
      content: '';
      margin: 0;
}

.footer {
      background: #285959;
      color: white;
      font-family: 'Merriweather', serif;
      margin-top: 40px;
      text-decoration: none;
      display: flex;
      justify-content: space-around;
      align-items: center; 
      padding: 1%; 
      border-radius: var(--radius)  
}
  
footer a {   
      color: white;
      text-decoration: none; 
}
  
.updated {
      
      color: yellow;
      font-size: 10pt;
}

img {
    height: 80%;
    max-width: 80%;
}
  
a:-webkit-any-link {
    color: white;
    text-decoration: none;
}
  
@media screen and (min-width: 400px) {


*,
*:before,
*:after {
    box-sizing: border-box;
}
  
.logo {
    display: flex;
    flex: wrap;
    justify-content: center;
    border-radius: var(--radius, 1rem);
}

.nav-list {
        background-color: var(--nav-background-color);
        box-shadow: 0px 0px 10px var(--clr-gray200);
        line-height: 3em;
        font-size: 2.0em;
        border-radius: var(--radius);
        display: flex;
        -webkit-align-items: center;
          align-items: center;
        -webkit-justify-content: center;
          justify-content: center;
}
    
.nav-item-b {
      list-style: none;
      margin-right: 2rem;
}

.nav-list-b {
    background-color: var(--nav-background-color);
    box-shadow: 0px 0px 10px var(--clr-gray200);
    line-height: 3em;
    font-size: 2.0em;
    border-radius: var(--radius, 1.5rem);
    display: flex;
    -webkit-align-items: center;
        align-items: center;
    -webkit-justify-content: center;
        justify-content: center;
}

.nav-item-b {
  list-style: none;
  margin-right: 2rem;
}   

img {
        height: 90%;
        max-width: 90%;
}
 
.persona1 {
    
    max-width: 40%;
    padding: 5%;
    
    
}

.persona2 {
    max-width: 40%;
    padding: 5%;
    
}
}

@media screen and (min-width: 500px) {

*,
*:before,
*:after {
    box-sizing: border-box;
}

.logo {
    display: flex;
    flex: wrap;
    justify-content: center;
}
    
.nav-list {
        background-color: var(--nav-background-color);
        box-shadow: 0px 0px 10px var(--clr-gray200);
        line-height: 3em;
        font-size: 2.0em;
        border-radius: var(--radius);
        display: flex;
        justify-content: space-between;
        align-items: center;
}
    
.nav-item {
      list-style: none;
      margin-right: 2rem;
    }

    
.nav-item-b {
        list-style: none;
        margin-right: 2rem;
}
  
.nav-list-b {
      background-color: var(--nav-background-color);
      box-shadow: 0px 0px 10px var(--clr-gray200);
      line-height: 3em;
      font-size: 2.0em;
      border-radius: var(--radius);
      display: flex;
      justify-content: space-between;
      align-items: center;
}
  
.nav-item-b {
    list-style: none;
    margin-right: 2rem;
}   

img {
        height: 100%;
        max-width: 100%;
}
nav a {
    display: flex;
    margin:5em;
    min-width: 120px;
    text-decoration: none;
    text-shadow: 2px 2px black;
    
}
}