:root {
    /* change the values below to your colors from your palette */
    --primary-color: #284E4A;
    --secondary-color: #306c62;
    --accent1-color: #64b2a6;
    --accent2-color: #d4e8d6;
    
    
    
    /* change the values below to your chosen font(s) */
    --heading-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --paragraph-font: Arial, Helvetica, sans-serif;
    
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #284e4a;  /* headlines on a white background */ 
    --headline-color-on-color: black; /* headlines on a colored background */ 
    --paragraph-color-on-white: black; /* paragraph text on a white background */ 
    --paragraph-color-on-color:black; /* paragraph text on a colored background */ 
    --paragraph-background-color: #64b2a6;
    --nav-link-color: white;
    --nav-background-color: #284e4a;
    --nav-hover-link-color: white;
    --nav-hover-background-color:#64b2a6;
    --call-to-action-background: ##d4e8d6;
    --weather-card-border: black;
    --spotlight-background:#d4e8d6;
    --spotlight-text-color: black;
    --spotlight-border: black;
    --curent-events-border: black;
    --message-border: black;
    --demo-border: black;
    --stats-border: black;
    --events-border: black;
    --calendar-border: black;
    --calendar-month-background:#284E4A;
    --weekdays-text: #d3d3d3;
    --photo-interest-text:  black;
    --left-sidebar-background: #284E4A;
    --white-text: white;
    --form-fieldset:#445ba9;
    --form-fieldset-border: 2px solid #445ba9;
    --form-label: #9c2c13;
    --form-input: black;
    --form-top-background: #80808038;
    --dark-mode-headline: #0a220a;
    --accent2-color1: #d4e8d6;
    --img-background: white;
    --background-directory: #306c62;
    --toggle-button: #d3d3d3;
    --toggle-text-color: black;
    --banner-background: black;
    --banner-text-color: white;
    --company-details-a: black;
}

.dark-mode {
        
    background-color: black;
    --accent2-color1: black;
    color: white;
    --photo-interest-text:  white;
    --nav-link-color: white;
    --spotlight-background: black;
    --spotlight-text-color: white;
    --spotlight-border: white;
    --curent-events-border: white;
    --weather-card-border: white;
    --left-sidebar-background: black;
    --left-sidebar-foreground: white;
    --message-border: white;
    --demo-border: white;
    --stats-border: white;
    --events-border: white;
    --calendar-border:white;
    --weekdays-text: black;
    --headline-color-on-white: #0a220a;
    --form-fieldset: white;
    --form-fieldset-border: 2px solid white;
    --form-label: white;
    --form-input: white;
    --form-top-background: black;
    --img-background: black;
    --company-details-a: white;
    --toggle-button: #d4e8d6;
}
    
body {
    
    font-family:var(--paragraph-font);
    text-align: center;
        
}

main {
    
    max-width: 2000px;
        
}

h1 {
    
    font-family:var(--heading-font);
    padding-top: 2rem;
        
}

h2 {
        
    font-family: var(--heading-font);
           
}

    
h3{
    
    font-family: var(--heading-font);
}
p {
    padding: 1.5rem;
}

header, footer{
    
    background-color: var(--headline-color-on-white);
    color: var(--nav-link-color);
}
    
header {
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 4px 4px 10px black;
}
    
nav {
        
    margin: auto;  

}

#mode button {
    
    color: var(--toggle-text-color);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: var(--toggle-button);
        
}
    
#mode button:hover {
    
    cursor: pointer;
}

    
#mode {
    position: absolute;
    top: .5rem;
    left: .5rem;

}
    
#menu {
    
    display: block;
    font-size: 1rem;
    --headline-color-on-white: #284e4a;
    justify-content: space-evenly;
    position: absolute;
    top: .5rem;
    right: .5rem;
        
}
    
#menu::before {
    
    content: "☰";
    --headline-color-on-white: #284e4a;
    color: var(--paragraph-color-on-white);
          
}
    
#menu.show::before {
        
    content: "✘";
        
}
       
.main-nav {
    display: none;      
    text-align: center;
    background-color: var(--headline-color-on-white);
    font-size: 20px;
    padding-left: 0;  
}
        
.main-nav li {
            
    display: inline-block;
    margin-right: 10px;
            
}
    
.main-nav a:hover {
            
    background-color: var(--accent1-color);
}
          
.main-nav a {
        
    display: block;
    padding: 10px 20px;
    color: var(--nav-link-color);
    text-decoration: none;
}

.active::before {
    content: "➤ ";
}

.active {
    margin-right: 0; /* Reset margin for the active link */
}

.show li {
    
    display: block;
    width: 100%;
}
    
.show li a {
    display: block;
    text-decoration: none;
    padding: 1rem;
}
        
ul.main-nav.show {
    display: block;  
    margin-top: .1%;
    margin-bottom: .2%;
}
    
a {
        
    color:var(--left-sidebar-text);
}
    
a:link {
        
    justify-content: center;
    text-decoration: none;
}
    
a:visited {
        
    text-decoration: none;
}
    
.spotlight_main a:hover {
        
    text-decoration: underline;
}
    
.company-details a:hover {
        
    text-decoration: underline;
}
    
a:active{
        
    text-decoration: underline;
}
 
    
/**************** Main Body Content *****************/
.join {
    display: none;
}
    
.hero-image {
        
    display: flex;    
    height: 400px; 
    background-position: center center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    border: 1px solid black; 
    background-image: url(../images/seattle-skyline-clouds1.webp);
    position: relative;
    overflow: hidden;
    }
/* Remove #hero-image in lesson07
    #hero-image {
        width: 100%;
        height: auto;
        display: block;
    }*/
/*#webp-img {
    width: 100%;
    height: auto;
    display: block;
}*/
    
.banner {
    display: none;
    padding: 10px;
    background-color: white;
    text-align: center;
}

#meeting-banner {
    background-color: var(--banner-background);
    color: var(--banner-text-color);
    padding: 10px;
    text-align: center;
}

#close-banner {
    background-color: var(--toggle-button);
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
    
.call-to-action,.current-events, #weather-card, .weather-container {
        
    background-color: var(--accent2-color1);
    border: 1px solid var(--curent-events-border);
}

    
.weather-container p, .call-to-action p, .current-events p {
    margin: 0;
    padding: .8rem;
}

.call-to-action a {
    text-decoration: underline;
    cursor: pointer;
}

#weather-icon {
        
    width: 75px;
}

.weather-container figure {
    display: flex;
    justify-content: center;
    background-color: var(--accent2-color1);
}

.three-day-forecast {
    font-size: 12px;
    margin-top: .2rem; 
    
}

#page-visits {
    margin-top: 2rem;
}

/* Spotlight Section Styles */
.grid-container {
    
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    row-gap: .5rem;    
}

#spotlight-cards{
    display: flex;
    flex: auto;
    justify-content: center;
    gap: 20px;
}

#spotlight-cards.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-top: 20px;
}

#spotlight-cards .spotlight-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: var(--spotlight-background);
    color: var(--spotlight-text-color);
    border: 1px solid var(--spotlight-border);
    padding: 5px; 
}

#spotlight-cards .spotlight-card img {
    max-width: 100%;
    height: 50px; 
    object-fit: cover; 
    margin-bottom: 1rem;
}

.spotlight-card h2{
    font-size: 16px;
}

 
/* Footer */

  
footer {
    padding: 1%;
    margin-top: .2%;
        
}
    
.company-details{
        
    overflow: hidden;
    background: var(--accent2-color1);
    border: 1px solid var(--spotlight-border);
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 14px;
}

.company-details a{
    font-size: 14px;
    color: var(--company-details-a);
}

#footer1 #col1,
#footer1 #col2,
#footer1 #col3 {
        
    display: inline-block;
    width: 30%;
    margin: 0 1%; 
    vertical-align: top; 
}
    
.material-symbols-outlined {
       
    height: 24px;
    width: 24px;
    margin-bottom: .5em;
    padding: 1%;
}
    
img .material-symbols-outlined {
    
    margin: 0;
}

ul.contact {
    padding: 3px 0em 0em 0em;
    list-style: none;
    margin: 0;
}

ul.contact li{
        
    display: inline-block;
    padding: 0em 0.10em;
    font-size: 1em;
}

footer p {
    padding: 0;    
    margin: 0;
}

/*-----------------------Discover Page-----------------------*/

#left-sidebar {
    margin-top: .1em;

}

.message {
    border: 2px solid var(--message-border);
    margin: .25em;
    background-color: var(--accent2-color1);
} 


.demo {
    border: 2px solid var(--demo-border);
    padding: 1rem;
    margin: .25em;
    background-color: var(--accent2-color1);
}

.stats {
    border: 2px solid var(--stats-border);
    margin: .25em;
    background-color: var(--accent2-color1);
}
.stats img, .demo img {
    width: 98%;
    height:auto;
}
.stats figcaption, .demo figcaption {
   padding-bottom: .5rem;
   margin-left: .5rem;
   text-align: left;
   font-size: 10px;
}

.events {
    border: 2px solid var(--events-border);
    margin: .25em;
    background-color: var(--accent2-color1);
}

.calendar-box {
    border: 2px solid var(--calendar-border);
    margin: .25em;
    background-color: var(--accent2-color1);
    margin-bottom: 2rem;
    box-sizing: border-box;
}

.calendar {
    background-color: var(--toggle-button);
    border: 2px solid var(--calendar-border);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 2rem;
    width: 100%;
  }

  
.month {
    background-color: var(--calendar-month-background);
    color: white;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between; /* Updated to space-between */
    align-items: center; /* Center items vertically */
  }
  
#prev-btn,
#next-btn {
    background-color: var(--toggle-button);
    color: var(--paragraph-color-on-color);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
  
#prev-btn:hover,
#next-btn:hover {
    background-color: var(--nav-hover-background-color);
}
  
.weekdays {
    display: flex;
    justify-content: space-around;
    background-color: var(--weekdays-text);
    padding: 10px;
}
  
.weekdays div {
    text-align: center;
}
  
  
.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;
    
}

.day {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}
  
.day:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--paragraph-color-on-color);
}

/* Style for h2 elements inside the sidebar and picture column */
#local-pics h2 {
    color: var(--paragraph-color-on-color);
}

.image-wrapper {
    margin-bottom: 20px; /* Add margin between images */
}

.interest {
    
    color: var(--left-sidebar-text);
    margin-top: .15rem;
    margin-bottom: .1em;
    
}

.image-container figure {
	border-radius: 15px;
    margin: 0;
	padding: 0;
	background: var(--img-background);
	overflow: hidden;
}

.image-container figure img{
    width: 70%;
    height: auto;
    
 }

.image-container figure:hover+span {
	bottom: -36px;
	opacity: 1;
}
.image-container figure {
	position: relative;
}
.image-container figure::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.image-container figure:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}


@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}

/*------------------------------Directory Page ----------------------------------*/
.directory-title {
    
    padding: .3rem;
    margin-top: .5rem;
}

#grid-view, #list-view {
    background-color: var(--background-directory);
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.view-toggle {
    text-align: center;
    margin-bottom: 20px;
}

#members-container.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-top: 20px;
    gap: 20px;
    justify-content: center;
}

.member-card img {
    padding-top: 1rem;
    
}
#members-container.list .member-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5px;
    align-items: baseline;
}

#member-container.list .member-card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    
}

#members-container.list img {
    display: none;
}

#members-container.list p {
    display: none;
}

.member-card {
    background-color: var(--accent2-color1);
    padding: 30px;
    border: 1px solid #306c62;
    border-radius: 5px;
    text-align: center;
}

.member-card h3 {
    text-align: center;
}

.member-card a {
    display: block;
    letter-spacing: 1.1pt;
}

.member-card a:hover {
    text-decoration: underline;
}

.member-card p {
    font-size: 20px;
}


/*------------------ Join Page -------------------*/

.hero-image-join img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
   

}
#join2  {
    text-align: center;
    margin: 1rem;
}
  
.form-container {
    display: flex;
    text-align: left;
    justify-content: center;
    
    
}
form fieldset { /*lines around the three sections */
    margin: 2rem 1rem; /*to seperate the sections from each other */
    border: 1px solid var(--form-fieldset);
    border-radius: 10px;
    padding: .5rem 2%;
    padding-bottom: 1.5rem;
    max-width: 1000px;
}

form legend {
    color: var(--form-fieldset);
    margin: 0 1rem; /*to slide the legend over */
    padding: 0 .5rem; /*padding to push the line away from the words */
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: var(--form-label);
    font-size: .8rem;
    
}

form label.top input, form label.top select{

    --webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .7rem;
    color: var(--form-input);
    width: 100%;
    max-width: 91%;
    min-height: 44px;
    background-color: var(--form-top-background);
}

form input.submitBtn {
    display: block;
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 2rem auto;
}

form label.top input:required {
    border-left:red  solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;

}

.form-group {
    margin-bottom: 1rem; 
}

.form-group label.top {
    display: block;
    margin-bottom: 0.5rem; /* Add some space between label and textarea */
}

.form-group textarea {
    width: 95%; /* Make the textarea fill the width of its container */
    padding: 0.5rem; 
    font-size: 1rem; 
    background-color: rgba(0,0,0,0.1);
    color: var(--form-input);
}

form input.submitBtn-join {
    display: block;
    border: none;
    background-color:var(--headline-color-on-white);
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 2rem auto;
    cursor: pointer;
}






