:root {
    /* change the values below to your colors from your palette */
    --primary-color: #284E4A;
    --secondary-color: #306c62;
    --accent1-color: #64b2a6;
    --accent2-color: #d4e8d6;
    
    
    
    /* change the values below to your chosen font(s) */
    --heading-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --paragraph-font: Arial, Helvetica, sans-serif;
    
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #284e4a;  /* headlines on a white background */ 
    --headline-color-on-color: black; /* headlines on a colored background */ 
    --paragraph-color-on-white: black; /* paragraph text on a white background */ 
    --paragraph-color-on-color:black; /* paragraph text on a colored background */ 
    --paragraph-background-color: #64b2a6;
    --nav-link-color: white;
    --nav-background-color: #284e4a;
    --nav-hover-link-color: white;
    --nav-hover-background-color:#64b2a6;
    --left-sidebar-text:  #284E4A;
    --left-sidebar-background: #284E4A;
    --white-text: white;
    --form-fieldset:#445ba9;
    --form-fieldset-border: 2px solid #445ba9;
    --form-label: #9c2c13;
    --form-input: black;
    --form-top-background: #80808038;
    --dark-mode-headline: #0a220a;
    --accent2-color1: #d4e8d6;
    

    }
    
    body{
        font-family:var(--paragraph-font);
        text-align: center;
        
    }

    main {
        max-width: 2000px;
        
    }

    h1 {
        font-family:var(--heading-font);
        padding-top: 2rem;
        
    }

    h2 {
        font-family: var(--heading-font);
           
    }
    
    h3{
        font-family: var(--heading-font);
       
    }
    
    
    header, footer{
        background-color: var(--headline-color-on-white);
        color: var(--nav-link-color);
        padding: 2%;
        
    }
    
    header {
        display: flex;
        width: 96%;
        align-items: center;
        justify-content: center;
        text-shadow: 4px 4px 10px black;
    }
    
    nav {
        
        margin: auto;  
    }
    
    #mode button {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        
    }
    
    #mode button:hover {
        cursor: pointer;
    }

       
   
    
    .dark-mode {
        background-color: black;
        --accent2-color: #black;
        color: white;
        --left-sidebar-text: white;
        --nav-link-color: white;
        --left-sidebar-background: black;
        --left-sidebar-foreground: white;
        --headline-color-on-white: #0a220a;
        --form-fieldset: white;
        --form-fieldset-border: 2px solid white;
        --form-label: white;
        --form-input: white;
        --form-top-background: black;
    }
    
    #mode {
        position: absolute;
        top: 10px;
        right: 20px;
    }
    
    #menu {
        display: block;
        font-size: 2rem;
        --headline-color-on-white: #284e4a;
        justify-content: space-evenly;
        position: absolute;
        top: 7.5rem;
        right: .1%;
        
    }
    
    #menu::before {
        content: "☰";
        --headline-color-on-white: #284e4a;
        color: var(--paragraph-color-on-white);
          
    }
    
    #menu.show::before {
        content: "✘";
        
    }
       
   .main-nav{
            list-style: none;
            background-color: var(--headline-color-on-white);
            font-size: 20px;
            list-style: none;    
            text-align: center;
            padding-left: 0;  
            margin: 0;
                
    }
        
    .main-nav li {
            display: none;
            
    }
    
    .main-nav li:hover {
            background-color: var(--accent1-color);
            padding-top: .2%;
            padding-bottom: .2%;
            
    }
          
    .main-nav a {
            color: var(--nav-link-color);
    }

.active::before {
    content: "➤ ";
}
        
    .show li {
            display: block;
            width: 100%;
    }
    
    .show li a {
            display: block;
            text-decoration: none;
            padding: 1rem;
    }
        
    ul.main-nav.show {
        margin-top: .1%;
        margin-bottom: .2%;
        
    }
    
    a {
        color:var(--left-sidebar-text);
    }
    
    a:link {
        justify-content: center;
        text-decoration: none;
        
    }
    
    a:visited {
        text-decoration: none;
    }
    
    .spotlight_main a:hover {
        text-decoration: underline;
    }
    
    .company-details a:hover {
        text-decoration: underline;
    }
    
    a:active{
        text-decoration: underline;
    }
 
    
    /*Main Body Content */
    
    .grid-container {
        display: grid;
        grid-template-rows:400px auto auto auto;
        min-height: 150px;
        margin: 0;
        row-gap: .5rem;    
    }
    .current-events {
        
        background-color: var(--accent2-color1);
        border: 1px solid black;
    }
    
    .weather-card {
      
        background-color: var(--accent2-color1);
        border: 1px solid black;
    }

    .weather-container {
        font-size: 1.5rem;
    }

    #weather-icon {
        
        width: 75px;
       
    }

    .weather-container figure {
        display: flex;
        justify-content: center;
        background-color: var(--accent2-color1);
    }
    
    .join {
        display: none;
    }
    
    .hero-image {
        
        display: flex;
        position: relative;
        grid-row: 1; 
        background-position: center center;
        background-size: cover;
        justify-content: center;
        align-items: center;
        border: 1px solid black; 
        background-image: url(../images/seattle-skyline-clouds1.webp);
        position: relative;
        overflow: hidden;
    }
/* Remove #hero-image in lesson07
    #hero-image {
        width: 100%;
        height: auto;
        display: block;
    }*/
    #webp-img {
        width: 100%;
        height: auto;
        display: block;
    }
    .call-to-action {
        background-color: var(--headline-color-on-color);
        color: var(--white-text);
        padding: 10px 20px;
        border: none;
        text-align: center;
        text-decoration: none;   
        font-size: 16px;
        cursor: pointer;
        border-radius: 10px;
        /*position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background 
        color: white;
        padding: 20px;
        text-align: center;
        font-size: 24px;
        max-width: 80%; /* Limit the width of the text overlay 
        border-radius: 10px; */
    }
    .spotlight_main {
        grid-template-columns: 1fr;
    }
    
    section{
        display: block;
    }
    
    .grid {
        
        grid-template-columns: repeat( auto-fit, 1fr 1fr) ;
    }
    
    .spotlight_main section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: .10rem;
        padding: .45rem;
        background-color: var(--accent2-color1);
        border: 1px solid black;
        
    }

    .spotlight_main section img {
        width: 100%;
        height: 400px; 
        object-fit: cover; 
        margin-bottom: 1rem; 
    }
    
 
    /* Footer */

  
    footer {
        margin-top: .7%;
        
    }
    .company-details{
        overflow: hidden;
        background: var(--accent2-color1);
        text-align: center;
        margin-top: 2em;
        padding-top: 2%;
        
        
    }
    
    #footer1 #col1,
    #footer1 #col2,
    #footer1 #col3 {
        float: left;
        width: 31.3%;
        margin-bottom: 2%;
        
    }
    
    .material-symbols-outlined {
       
        height: 24px;
        width: 24px;
        margin-bottom: 1em;
        padding: 1%;
    
    }
    
    img .material-symbols-outlined {
    
        margin: 0;
    }

    
    ul.contact {
        padding: 3px 0em 0em 0em;
        list-style: none;
        margin: 0;
        
    }
    ul.contact li{
        display: inline-block;
        padding: 0em 0.10em;
        font-size: 1em;
    }

    footer p {
        margin: 0;
    }

/*-----------------------Discover Page-----------------------*/

#left-sidebar {
    margin-top: .1em;

}

.message {
    outline: auto;
    margin: .25em;
    background-color: var(--accent2-color1);
} 


.demo {
    outline: auto;
    margin: .25em;
    background-color: var(--accent2-color1);
}

.stats {
    outline: auto;
    margin: .25em;
    background-color: var(--accent2-color1);
}

.events {
    outline: auto;
    margin: .25em;
    background-color: var(--accent2-color1);
}

.calendar {
    outline: auto;
    margin: .25em;
    background-color: var(--accent2-color1);
}
 

/* Style for h2 elements inside the sidebar and picture column */
#left-sidebar h2, #local-pics h2 {
    color: var(--left-sidebar-text);
}

.image-wrapper {
    margin-bottom: 20px; /* Add margin between images */
}

.interest {
    background-color: var(--accent2-color1);
    color: var(--left-sidebar-text);
    outline: auto; 
    margin-top: .25rem;
    margin-bottom: .1em;
    
}

.image-container figure {
	border-radius: 15px;
    margin: 0;
	padding: 0;
	background: white;
	overflow: hidden;
}

.image-container figure img{
    width: 100%;
    height: auto;
    
 }

.image-container figure:hover+span {
	bottom: -36px;
	opacity: 1;
}
.image-container figure {
	position: relative;
}
.image-container figure::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.image-container figure:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}


/*------------------ Form Page -------------------*/

.hero-image-join img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto; 

}
#join2  {
    text-align: center;
    margin: 1rem;
}
  
.form-container {
    display: flex;
    text-align: left;
    justify-content: center;
    
    
}
form fieldset { /*lines around the three sections */
    margin: 2rem 1rem; /*to seperate the sections from each other */
    border: 1px solid var(--form-fieldset);
    border-radius: 10px;
    padding: .5rem 2%;
    padding-bottom: 1.5rem;
    max-width: 1000px;
}

form legend {
    color: var(--form-fieldset);
    margin: 0 1rem; /*to slide the legend over */
    padding: 0 .5rem; /*padding to push the line away from the words */
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: var(--form-label);
    font-size: .8rem;
    
}

form label.top input, form label.top select{

    --webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .7rem;
    color: var(--form-input);
    width: 100%;
    max-width: 91%;
    min-height: 44px;
    background-color: var(--form-top-background);

}

form input.submitBtn {
    display: block;
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 2rem auto;
    

}

form label.top input:required {
    border-left:red  solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;

}

/* Add this CSS to style the form group and position the textarea below the label */
.form-group {
    margin-bottom: 1rem; /* Adjust the margin as needed */
}

.form-group label.top {
    display: block;
    margin-bottom: 0.5rem; /* Add some space between label and textarea */
}

.form-group textarea {
    width: 95%; /* Make the textarea fill the width of its container */
    padding: 0.5rem; /* Add padding for better appearance */
    font-size: 1rem; /* Set the font size as needed */
    background-color: rgba(0,0,0,0.1);
    color: var(--form-input);
}


@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}