@media screen and (min-width: 640px)  {
       
    

.logo {
    display: flex;
    width: 150px;
    height: 100px; 
    position: absolute;
    top: 40px;
    left: 10px;
    border-radius: 10%;
    box-shadow: 10px 10px 40px black;
}

.social-link {
    display: flex; 
    width: 40px;
    height: 40px;
    position: absolute;
    top: 60px;
    right: 95px;
}

.social-insta {
    display: flex; 
    width: 50px;
    height: 50px;
    position: absolute;
    top: 55px;
    right: 47.5px;
}

.social-twit {
    display: flex; 
    width: 40px;
    height: 40px;
    position: absolute;
    top: 60px;
    right: 12px;
}
.main-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding-bottom: .3%;
       
}
    
main {
        display: grid;
        grid-template-columns: 1fr 300px;
}

#menu {
		display: none;
		
}

.main-nav a{
        
    display: flex;
    
    

}

a {
    text-decoration: none;
}


.main-nav li {
		display: block;
		flex: 1 1 100%;
        font-size: larger;
}

#menu {
		display: none; /* hide hamburger button */
}

.navigation {
		flex-direction: row;
}

.navigation li {
		display: block;
		flex: 1 1 100%;
}
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

