@media screen and (min-width: 640px)  {
       
    .main-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
        padding-bottom: .6%;
           
    }
        
    main {
            
            grid-template-columns: 1fr 300px;
            margin: auto;
    }

    h1 {
        
        font-size: 5rem;
    }

    h2 {
        
        font-size: 3rem;
       
        
    }
    
    h3 {
        
        font-size: 2rem;
    }
    
    p {
        font-size: 1.5rem;
    }

    .grid-container {
      
        grid-template-rows:1000px auto auto auto;
        
    }
    
    #menu {
            display: none;
            
    }
    
    .main-nav ul
    .main-nav a {
        display: flex;
    }
    
    a {
        font-size: 1.5rem;
        text-decoration: none;
    }
    
    
    .main-nav li {
            display: block;
            flex: 1 1 100%;
            font-size: larger;
    }
    
    #menu {
            display: none; /* hide hamburger button */
    }
    
    .navigation {
            flex-direction: row;
    }
    
    .address {
        font-size: 1.5rem;
    }

    .phone {
        font-size: 1.5rem;
    }
    .navigation li {
            display: block;
            flex: 1 1 100%;
    }
    .material-symbols-outlined {
       
        height: 30px;
        width: 30px;
        margin-bottom: 1em;
        padding: 1%;
    
    }

    
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

   
    /*------------------Discover Page-----------------*/

#main-discover {
    display: grid;
    grid-template-columns: 40% 1fr;
    column-gap: .2em;
    
}

/* left sidebar */
#left-sidebar {
    grid-column: 1/2;
    display: grid;
    grid-template-rows: min-content min-content min-content min-content min-content;
    column-gap: .2em;
    
}

.message {
    grid-row: 1;
}   

.demo {
    grid-row: 2;
}

.stats {
    grid-row: 3;
}

.events {
    grid-row: 4;
}

.calendar {
    grid-row: 5;
}

/* right column with pictures */
.image-container {
    
    display: grid;
    grid-column: 2/3;
    margin: .25em;
    
    
}

figure img{
   width: 100%;
   height: auto;
} 

/* Style for h2 elements inside the sidebar and picture column */

figure {
	margin: 0;
	padding: 0;
	background: white;
	overflow: hidden;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}
.image-container figure {
	position: relative;
}
.image-container figure::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.image-container figure:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
}