@media screen and (min-width: 640px)  {
       
    .main-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
        padding-bottom: .3%;
           
    }
        
    main {
            display: grid;
            grid-template-columns: 1fr 300px;
            margin: auto;
    }

    .grid-container {
      
        grid-template-rows:1000px auto auto auto;
        
    }
    
    #menu {
            display: none;
            
    }
    
    .main-nav ul
    .main-nav a {
        display: flex;
    }
    
    a {
        text-decoration: none;
    }
    
    
    .main-nav li {
            display: block;
            flex: 1 1 100%;
            font-size: larger;
    }
    
    #menu {
            display: none; /* hide hamburger button */
    }
    
    .navigation {
            flex-direction: row;
    }
    
    .navigation li {
            display: block;
            flex: 1 1 100%;
    }
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
    