/* 64em is also 1028px when basefront is 16px */

@media only screen and (min-width: 64rem) {

nav ul li a {
    background-color: rgba(0,0,0,.2);
    color: #fff;
    font-size: 2.5rem;
    padding: .5rem 1rem;
    justify-content: center;
    text-shadow: 1.5px 1.5px black;

}   
time,
aside {
	font-size: 1.5rem;
    margin-bottom: 2rem;
    color: white;
    text-align: center;
    float: none;
    text-shadow: 1.5px 1.5px black;
    
    
}
.logo {
              
        max-width: 20%;
        margin-bottom: 1rem;
        
        
}
/* ---Columns---*/

.grid-container {
    display: grid;
    grid-template-columns: 1% 22.5% 50% 22.5% 1%;
    grid-template-rows: 33% 33% 33%;
    min-height: 500px;
    column-gap: 20px;
    row-gap: 23px;
    
    
}

.event_column {
    grid-column: 2;
    grid-row: 1;
    background-color: lightgrey;
    border: 1px solid black;
    
}

.weather_column {
    grid-column: 2;
    grid-row: 2;
    background-color: lightgrey;
    border: 1px solid black;
}

.join_column {
    grid-column: 2;
    grid-row: 3;
    background-color: lightgrey;
    border: 1px solid black;
}

.hero_column {
    grid-column: 3/4;
    grid-row: 1/3; 
    column-gap: .5%;
    background-color: lightgrey;
    border: 1px solid black; 
}

.news_release_column {
    grid-column: 3/4;
    grid-row: 3;
    background-color: lightgrey;
    border: 1px solid black;
}

.spotlight_main {
    display: grid;
    grid-row: 1/4;
    grid-column: 4;
    background-color: lightgrey;
    padding: 1.5rem;
    
    
}
.spotlight_column1 {
    grid-row: 1;
    justify-content: center;
    border: 1px solid black;
    width: 96%;
    margin-left: 1px;
    margin-bottom: 3px; 
    margin-top: 2px;  
}

.spotlight_column2 { 
    grid-row: 2;
    width: 96%;
    justify-content: center;
    border: 1px solid black;
        
}
.spotlight_column3 {
    grid-row: 3;
    width: 96%;
    justify-content: center;
    border: 1px solid black;
} 
.footer {
    display: flex;
    flex-wrap: wrap;
    
    max-width: 100%;
    max-height: 100%;
    margin-top: 2.5%;
    text-shadow: 1.5px 1.5px black;
}

.icon {
    display: flex; 
    float: left; 
    width: 18%;
    height: auto;
    
}
#address {
    margin-top: 100px;
    float: left;
}

#contact_info {
  display: flex;
  float: right;

}
.date {
  
  color: white;
  font-size: 10pt;
}



} /* end large */