body {
    font-family: 'Shadows Into Light', 'Judson', serif;
    font-size: 30px; 
    margin: 0;
    text-decoration: none;
}

header, .topnav, main, footer {
    max-width: 100%;
  
}
header, footer {
    background-color:#005c57;
    
}
header {
    display: flex;
	width: 100%;
    align-items: center;
    justify-content: center;
}

nav {
    margin: 0 auto;  
}

#menu {
    display: block;
    font-size: 1.5rem;
    border: 1px solid #005c57;
    justify-content: space-evenly;
    position: absolute;
    top: .5rem;
    right: .5rem;
    padding: 0%;
}


#menu::before {
    content: "☰";
    background-color: #005c57;
    
}

#menu.show::before {
    content: "✘";
    
}

.main-nav{
    list-style: none;
    background-color: #005c57;
    font-size: 20px;
    list-style: none;    
    text-align: center;      
}

.main-nav li {
    display: none;
    
}


.main-nav li:hover {
    background-color: #d4af37;
    padding: 0;
}
  
.main-nav a {
    color: white;
    text-decoration: none;
}

.hero img {
    width: 100%;
    height: auto;
}

.herolabel {
	position: absolute;
	top: 12rem;
	left: .3rem;
	background: radial-gradient(#fff, rgb(211, 155, 50));
	border: 1px solid rgba(0,0,0,.75);
	padding: .5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
	
}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: .6rem;
	
}

.show li {
	display: block;
	width: 100%;
}
.show li a {
	display: block;
}

.active::before {
	content: "🏠 ";
}


h1 {  
    text-align: center;
    color: #ffff;    
    float:right;
    text-shadow: 5px 5px black;
    font-size: 4rem;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    
}

h3 {
    background: #005c57;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 1.7rem;
    text-align: center;
    margin-top: 0;

}

a {
    font-size: 1.5rem;
}

p {
    font-size: 1.5rem;
}

.profile_pic {
    max-width: 15%;
    height: auto;
    padding-right: 9%;
    float:left;
    
}

ul {

    margin: auto;
	text-align: left;
    list-style-type: disc;
    list-style-position: inside;
    list-style: none;  
    font-size: 1.5rem;
    
   
}

.card {
   
    text-align: center;
    border-style: solid;
    border-width: medium;
    padding-bottom: 2%;
    margin-left: .3rem;
    margin-right: 2%;    
    color: black;
    
}


#card-b {
    font-size: 1.5rem;
    text-align: center;
    
}

span #current-temp {
    padding: 2%;
}


footer {
    margin-top: 1%;
    color: #ffff;
    text-align: center;
    
    
}

p {
    margin: 0;
    font-size: 1.2rem;
    
}

.updated {
    color: white;
    font-size: 10pt;
    padding-bottom: 1%;
}
.google-map {
    display: block;
    grid-column: 1/3;
    text-align: center;
    justify-content: center;
    padding-bottom: 50%;
    position: relative;
    margin: 1%;
      
}

.google-map iframe {
     
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    height: 90%;
    margin:auto;
    
} 
    
