header, footer {
    display: block;
    text-align: center;
    color: #ffff;
    width: auto;
    text-shadow: 2px 2px black;
    background-color: #005c57;
	padding: 1%;
	max-width: 100%;
}



main {
	display:grid;
    grid-template-rows: repeat(2,1fr);
	margin: 0 auto;
	grid-template-columns: 1fr;
	line-height: 1.5;
    gap: 10px;
}

main section {
	
	border: 1px solid #bbb;
	
	justify-content: center;
	background-color: #eee;
}

main section h2 h3{
	text-align: center;
    color: #ffff;
    max-width: 100%;
    display:grid;
    text-shadow: 2px 2px black;
    background-color: #005c57;
}


.image {
	box-shadow: 0 0 30px #333;
    max-width: 100%;
    height: 600px;
    

   
}

p {
    margin-left: .5%;
    font-size: 1.5rem;
}

footer p {
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 1%;
    
}

.updated {
    color: white;
    font-size: 16pt;
    padding-bottom: 1%;
}


/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	h1 {
        font-size: 4em;
    }
    
    main {
		grid-template-columns: repeat(2,1fr);
        gap: 10px;
        grid-auto-rows: 100px;

        
}	
	main section:nth-child(1) {
	  grid-column: 1/2;
          
}
	main section:nth-child(2) {
	  grid-column: 2/3;
		grid-row: 1/2;
}
	main section:nth-child(3) {
		grid-column: 1/2;
        
}
    main section:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/2;
}

    .image {
    height: 700px;
    width:100%;
}
}
